.PlaylistsContainer {
  position: fixed;
  width: 80vw;
  height: calc(100vh - 60px);
  color: wheat;
  top: 60px;
  left: 20vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0.005%, black);
  overflow-y: auto;
}
.newPlaylistBtn {
  cursor: pointer;
}
.PlaylistsContainer > div:first-child {
  position: absolute;
  top: 0px;
  left: 0vw;
  padding: 40px;
  height: 28%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.PlaylistsContainer > div:first-child span {
  font-size: clamp(1rem, 13vmin, 4.5rem);
  font-weight: 600;
  margin-right: 2%;
}
.PlaylistsContainer > div:last-child {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 45px 0 18vh 0;
}
@media screen and (max-width: 660px) {
  .PlaylistsContainer > div:first-child{
    flex-direction: column;
    height: 60vw;
  }
  .PlaylistsContainer > div:last-child {
    top: 48vw;
  }
}
@media screen and (max-width: 380px) {
  .PlaylistsContainer > div:first-child span {
    font-size: max(1rem, 11vmin);
    
  }  
}