.libraryContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    gap: 4vh;
}
.libraryContainer span{
    margin-left: 0.8vw;
    
}
