.libraryContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    gap: 4.5vh;
    font-size: 1.1rem;
    /* letter-spacing:0.05rem ; */
}
.libraryContainer a {
    transition: all 0.3s ease;
    /* font-weight: 10; */
}
.libraryContainer a:hover {
    color: wheat;
}
.libraryContainer span{
    margin-left: 0.8vw;
    position: relative;
}
.active {
    /* font-size: 1.1em; */
    /* margin-top: -2vh; */
    letter-spacing: 0.12rem;
    font-weight: 730;
    /* border-left: solid 4px red; */
}
.active ::before{
    content:"";
    left:-43px;
    position: absolute;
    border-radius: 12px;
    width: 5px;
    height: 33px;
    background-color:wheat;
    bottom: 0px;
    margin-bottom: -0.25em;
}