.mainDiv {
  position: fixed;
  /* position: sticky; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0.005%, black);
  width: 100vw;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  padding-bottom: 18vh;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: wheat;
  overflow-y: scroll;
  z-index: 1;
  /* padding: 10%; */
}
.decreaseMainDivWidth {
  width: 80vw;
  transition: width 2.3s ease-in-out;
}
.song {
  backdrop-filter: blur(20px);
  width: 17vw;
  /* min-width: 17%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  max-width: 17vw;
  z-index: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  /* padding: clamp( 5px, 0 10px 15px, 0 10px 15px); */
  box-sizing: border-box;
  max-height: fit-content;
  /* padding: 1.04%; */
  padding: 14px 0;
  gap:5px;
  
}
.backgroundVideo {
  background-color: black;
}
.song:hover {
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0.01px 0.01px 60px rgb(0, 0, 0), -0.01px -0.01px 60px rgb(0, 0, 0);
}
.imgAndButton {
  position: relative;
  max-width:min-content;
  max-height: min-content;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.songImg {
  transition: all 0.5s ease;
  /* min-width: 90%; */
  width: 90%;
  min-width: 15.3vw;
  z-index: -5;
  /* z-index: 666; */
  /* margin: 2vh 0 1vh; */
  border-radius: 5px;
  object-fit: cover;
  /* height: auto; */
  /* min-height: 60%; */
/* width: 130px; */

}
.song:hover .songImg {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
}
.ArtistName {
  margin: 1vh 0 1.5vh;
}
.WaveSpinner {
  position: absolute;
  /* bottom: 1.8vh; */
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  max-height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}
.songButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: red;
}
.song:hover .songButton {
  display: block;
}
.songTitle {
  max-height: 83px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0.3px 0.3px 2px rgb(0, 0, 0), -0.3px -0.3px 2px rgb(0, 0, 0);
}
@media screen and (max-width: 1024px) {
  .mainDiv {
  max-width: calc(100vw - max(20vw, 220px));
  padding: 15vh 5% 18vh 5%;
  }

  .song {
    /* min-width:minmax(25%, 100%); */
    padding: 9px 0;
  }
}
@media screen and (max-width: 769px) {
  .song {
    flex-direction: row;
    max-width: 96vw;
    width:96vw;
    max-height: 19vh;
    padding: 1.5vh 10px;
    align-items: center;
    gap: 15px;
  }
  .songImg {
    max-height: 16vh;

  }
}
