.mainDiv {
    background-color: rgba(253, 247, 236, 0.022);
    border-radius: 7px;
    height: 70px;
    display: flex;
    gap: 2%;
    align-items: center;
    padding: 0 20px;
    /* width: 100%; */
    /* marginbottom:60px ; */
    color: wheat;
    position: relative;
    backdrop-filter: blur(30px);
    /* z-index: 1; */
}
/* .title {
    width: 64%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */
.mainDiv:hover .songButtons {
    display: block;
    /* color: red; */
}
/* .mainDiv:hover .numberAndButtonsContainer > div:first-child { */
.mainDiv:hover .numberAndButtonsContainer > .songNumber {
    display: none;
}
.playButton {
    cursor: pointer;
    display: none;
}
.mainDiv:hover .playButton {
    display: block;
}
.imgContainer {
    position: relative;
    /* background-color:aqua; */
    max-height: 44.8px;
}
.imgContainer > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vh;
    overflow: hidden;
    border-radius: 5px;
    max-height: 70%;
}
.imgContainer img {
    width: 80px;
    height: 44.8px;
    border-radius: 5px;
    /* clip-path:circle(30% at center); */
}
.numberAndButtonsContainer > div:first-child,
.numberAndButtonsContainer .songButtons{
    width: 1.7em;
}
.delete{
    position: absolute;
    right: 70px;
    cursor: pointer;
}
.delete:hover {
    color: red;
}
.mainDiv > span:last-child {
    position: absolute;
    right: 20px;
}