.mainDiv {
  position: fixed;
  left: 20vw;
  top: 60px;
  width: 80vw;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0.005%, black);
}
.hedingDiv {
  width: 100%;
  height: 30%;
  color: wheat;
  padding: 1em 14% 1em 1em;
  display: flex;
  gap: 2%;
  align-items: center;
}
.arrowButton {
  position: absolute;
  right: 20px;
  top: 20px;
}
.PlayButton {
  margin-top: 10px;
  cursor: pointer;
}
.hedingDiv span {
  font-size: clamp(1rem, 13vmin,4rem);
  font-weight: 600;
  max-width: 70%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.songsContainer {
  position: sticky;
  top:30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px 18vh 20px;
  top: 30%;
}
@media screen and (max-width: 768px) {
  .mainDiv {
    top: max(60px, 12%);
  }
}
@media  screen and (max-width: 600px) {
  .hedingDiv {
    flex-direction: column;
    align-items: flex-start;
    height: 30vh;
  }
  .hedingDiv span {
    max-width: 95%;
  }

  
}
