/* screen width - 1366px */
.mainDiv {
    position: fixed;
    z-index: 10;
    top:0;
    /* left: 12vw; */
    /* left: 164px; */
    background-color: rgba(0, 0, 0,0.4);
    height: 60px;
    /* height: 9vh; */
    /* width: 1202px; */
    /* width: 88vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:3.5vw;
    border-radius:0 0 4px 2px;
    color: wheat;
}
  .logoBackground {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* width: 12vw; */
    width: 164px;
    /* height: 12vh; */
    height:80px ;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 12px 0;
    color:wheat;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .logoText {
    margin-left: -22px;
    /* margin-left :-1.6vw; */
    font-weight: 700;
    /* font-size: 6.1vh; */
    font-size: 39px;
    color:wheat;
  }
.mainDiv a {
  flex-shrink: 0;
  cursor: pointer;
}
  div span {
    margin-left: 0.1vw;
  }
  /* .signAndlogDiv {
    margin-left: -10vw;
  } */
  .home_library_search {
    position: absolute;
    display: flex;
    gap: 4vw;
    align-items: center;
    left:4vw;
  }
  .signAndLogDIv {
    position: absolute;
    right: 5vw;
    display: flex;
    gap:4vw;
  }
   /* @media screen and (max-width:700px){
    .disappearItemsWhenScreenShrink{
      display: none;
    }
  }  */

 