.mainDiv {
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5vw;
  border-radius: 0 0 4px 2px;
  color: wheat;
  left: 164px;
  width: calc(100vw - 164px);
  transition: none;
}
.libraryOpenMainDiv {
  border-bottom-left-radius: 0;
  left: 20vw;
  width: 80vw;
  transition: all 2.3s ease-in-out;
}
.logoBackground {
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 164px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 12px 0;
  color: wheat;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: none;
}
.IncreaseLogoPadding {
  padding: 6vh 0 0 1.5vw;
  /* background:none; */
  transition: padding 2.3s ease-in-out;
}
.logoText {
  margin-left: -22px;
  font-weight: 700;
  font-size: 39px;
  color: wheat;
}
.mainDiv a {
  flex-shrink: 0;
  cursor: pointer;
}
.mainDiv a:hover {
  color: white;
}
div span {
  margin-left: 0.1vw;
}
.home {
}
.home_library_search {
  position: absolute;
  display: flex;
  gap: 4vw;
  align-items: center;
  left: 4vw;
}
.signAndLogDIv {
  position: absolute;
  right: 5vw;
  display: flex;
  gap: 4vw;
}
@media screen and (max-width: 1024px) {
  .logoBackground {
    display: none;
  }
  .mainDiv {
    width: 100%; 
    left: 0;
    right: 0;
  }


}

@media screen and (max-width: 768px) {
  .mainDiv {
    min-height: 12%;
  }
  .logoBackground {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainDiv {
    min-height: 12%;
  }
  .logoBackground {
    display: none;
  }
  .mainDiv {
    width: 100%; 
    left: 0;
    right: 0;
  }

}

