/* screen width - 1366px */
.mainDiv {
    position: fixed;
    z-index: 10;
    top:0;
    /* left: 12vw; */
    left: 164px;
    background-color: rgba(0, 0, 0,0.4);
    height: 60px;
    /* height: 9vh; */
    /* width: 1202px; */
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:3.5vw;
    border-radius:0 0 4px 2px;
    color: wheat;
}
  .logoBackground {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* width: 12vw; */
    width: 164px;
    /* height: 12vh; */
    height:80px ;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 12px 0;
    color:wheat;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .logoText {
    margin-left: -22px;
    /* margin-left :-1.6vw; */
    font-weight: 700;
    /* font-size: 6.1vh; */
    font-size: 39px;
    color:wheat;
  }
.mainDiv > a {
  flex-shrink: 0;
}
  /* .redDot::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red; 
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 1.2vh; 
    margin-left: -3.57vw;
  }  */
   /* .redDot {
    position: relative;

  }
  .redDot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-top:-1.7vh;
    margin-right: -3vh;
  } */
  div span {
    margin-left: 0.1vw;
  }
  .signAndlogDiv {
    margin-left: -10vw;
  }
  .red{
    color: red;
  }
   @media screen and (max-width:700px){
    .disappearItemsWhenScreenShrink{
      display: none;
    }
  } 

 