.popup {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 20;
  backdrop-filter: blur(70px);
  display: grid;
  place-items: center;
}
.popup > div:first-child {
  position: absolute;
  width: min(400px, 95vw);
  height: min(400px, 95vw);
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4), black);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: min(3vmin, .5rem);
  flex-direction: column;
  text-align: center;
}
.popup > div:first-child > h1 {
  margin: 0 1em 1em 1em;
}

.createPlaylist {
  display: flex;
  justify-content: center;
  width: 87%;
}
