.createPlaylist {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createPlaylistInput {
  position: absolute;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px 35px 10px 15px;
  min-width: 100%;
}
.addPlaylistButton {
  background: none;
  color: black;
  margin-left: auto;
  z-index: 1;
}
