.container {
    /* margin-top: 1.3%; */
    /* margin-bottom: 5px; */
    /* width: 35vw; */
    /* width: 450px; */
    /* height: 10vh; */
    /* height: 45px; */
  }
    .form {
    display: flex;
    flex-direction: row;
    /* height: 7.5vh; */
    height: 50px;
    /* width: 450px; */
    width: 35vw;
    position: relative;

  }
  .searchField {
    width: 75%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    color: black;
    /* background-color: wheat; */

  }
  .searchButton {
    background: transparent;
    border: none;
    /* outline: none; */
    /* margin-left: -4vw; */
    position: absolute;
    right:8vw;
    top:12%;
  }
  .searchButton img {
    margin-bottom: -0.6vh;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .searchButton img.spinning {
    animation: searchSpin 2s;
  }
  /* .searchButton img:active {
    animation: searchSpin 2s forwards;
  } */
  @keyframes searchSpin {
    0% {
      transform: rotate(0);

    }
    to {
      transform: rotate(360deg);
    }
  }

