.form {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 22vw;
  position: relative;
}
.searchField {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  color: black;
}
.searchButton {
  background: transparent;
  border: none;
  position: absolute;
  right: -5px;
  top: 12%;
}
.searchButton img {
  margin-bottom: -0.6vh;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.searchButton img.spinning {
  animation: searchSpin 2s;
}

@keyframes searchSpin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .form {
    min-width: 40vw;
  }
}
@media screen and (max-width: 387px) {
  .form {
    min-width: 52vw;
  }
}
