.libraryContainer {
  position: fixed;
  /* position: sticky; */
  top: 0;
  left: 0;
  /* width: 20vw; */
  min-width: 220px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  z-index: 1;
  padding-top: 20vh;
  animation: entryAnimation 2.3s;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  /* gap: 4.5vh; */
  font-size: 1.1rem;
  overflow: hidden;
  justify-content: space-between;
}
.linksContainer {
  display: flex;
  flex-direction: column;
    gap: 4.5vh;

}
@keyframes entryAnimation {
  from {
    overflow: hidden;
    padding-left: 0;
    width: 0;
    min-width: 0;
    left: 0;
  }
  to {
    /* width: 20vw; */
    /* overflow: visible; */
    left:0;
  }
}
.libraryContainer a {
  transition: all 0.4s ease;
}
.libraryContainer > a:hover {
  color: white;
}
.libraryContainer span {
  margin-left: 0.8vw;
  position: relative;
}
.active {
  letter-spacing: 0.12rem;
  font-weight: 730;
}
.active ::before {
  content: "";
  left: -43px;
  z-index: 1000;
  position: absolute;
  border-radius: 12px;
  width: 5.5px;
  height: 33px;
  background-color: wheat;
  bottom: 0px;
  margin-right: 20px;
  margin-bottom: -0.25em;
  animation: moveIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
.contact {
  /* position: absolute; */
  /* left: 0; */
  /* padding-left: 2.5%; */
  /* bottom: 20px; */
  width: calc(2vw + 100%);
  transform: translate(-2vw);
  text-overflow: ellipsis;
  z-index: 1;
  animation: entryAnimation 3s; 
  /* overflow: hidden; */
  min-width: 185px;
  padding-bottom: 3em;
}

@keyframes moveIn {
  0% {
    transform: translateX(-13px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 513px) {
  .libraryContainer { 
    height: 100%;
    bottom: 0;
    z-index: 9;
    padding-left:10%;  
}
  .contact{
    z-index: 9;
  }
  .libraryContainer span {
    margin-left: 4vw;
  }
  

}
