body {
  overflow-x: hidden;
}
.videoContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(1.1);
  z-index: -1;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.videoContainer iframe {
  position: sticky;
  border: none;
  width: 105vw;
  height: 150vh;
}
.youtube-player-container .ytp-chrome-top,
.youtube-player-container .ytp-gradient-bottom {
  display: none;
}
.arrowButton {
  position: fixed;
  right: max(4vw, 30px);
  bottom: max(13vh, 90px);
  width: 77px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  color: wheat;
  z-index: 2;
  cursor: pointer;
  animation: fadeIn 2.3s;
}
.arrowUpButton {
  animation: flash 2s infinite alternate;
  bottom: 0;
  height: 45px;
  width: 100px;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mainDiv {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.05);
  height: max(13vh, 90px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
  color: wheat;
  z-index: 2;
  column-gap: 3vw;
  backdrop-filter: blur(20px);
  text-shadow: 0.1px 0.1px 2px rgb(0, 0, 0), -0.1px -0.1px 2px rgb(0, 0, 0);
  animation: fadeIn 2.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iconButton {
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none;
  background: none;

  -moz-appearance: none;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  background-color: wheat;
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: wheat;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  border-radius: 5px;
  background-color: wheat;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: wheat;
  -moz-appearance: none;
  margin-top: -5px;
}

.fullScreenButtons {
  position: absolute;
  left: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.3vh;
}
.artistDetails {
  position: absolute;
  left: 5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  max-height: 11vh;
}
.artistDetails img {
  width: 4.3vw;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 6px;
  object-fit: cover;
}
.spinImg {
  animation: spinImg 3.6s linear infinite;
}

@keyframes spinImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.artistDetails span {
  font-weight: 600;
  margin: auto 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.centerItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(45vw, 300px);
}
.palyingButtonsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(47%, 200px);
  margin: 1vh 1.2vw 1vh 0;
  gap: 14%;
}
.AddToPlaylist {
  position: relative;
}
.addToPlaylistButton {
  transition: transform 0.3s ease;
}
.addToPlaylistButton:hover {
  transform: scale(1.2) rotate(360deg);
}
.progressContainer {
  display: flex;
}
.progressTime {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}
.progressInput {
  width: max(24vw, 140px);
  margin: 0 2vw 0 0.8vw;
  cursor: pointer;
}
input[type="range"].progressInput::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background-color: wheat;
}
.volume {
  position: absolute;
  right: 3vw;
  display: flex;
  align-items: center;
}
.volumeHighButton {
  cursor: pointer;
}
.volumeHighButton :hover {
  color: red;
}
.volumeInput {
  cursor: pointer;
  margin-left: 1vw;
  width: 9.5vw;
}
@media screen and (max-width: 1150px) {
  .videoContainer {
    transform: scale(1.1, 1.3);
  }
}
@media screen and (max-width: 1024px) {
  .videoContainer {
    transform: scale(1.5, 1.68);
  }
  .artistDetails {
    display: none;
  }
  .volumeInput {
    width: 13vw;
  }
  .progressInput {
    width: max(24vw, 250px);
  }
}
@media screen and (max-width: 768px) {
  .videoContainer {
    transform: scale(2, 2.6);
  }
  .volume {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .videoContainer {
    transform: scale(3, 4.5);
  }
  .mainDiv {
    justify-content: unset;
    gap: 400px;
  }
  .centerItemsContainer {
    margin-left: 45vw;
    width: 20%;
    gap: 0.5rem;
  }
  .progressTime {
    display: none;
  }
  .centerItemsContainer {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
