.popup {
  background-color: rgba(255, 255, 255, 0.05);
  position: fixed;
  bottom: 105px;
  right: 28.8vw;
  border-radius: 20px;
  z-index: 10;
  padding: 25px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
  max-width: 30%;
  min-width: min(95vw, 300px);
  max-height:50vh;
  border-radius: 20px;
}
.popup > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup > div > svg:first-child {
  color: wheat;
  margin-top: -7%;
  cursor: pointer;
}
.popup > div > span:last-child {
  font-size: 2rem;
  font-weight: 600;
  color: wheat;
  margin-top: -9%;
}
.popup ul {
  color: wheat;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  list-style-type: none;
  max-width: 90%;
  min-width: 90%;
  overflow-y: auto;
}
.popup li {
    display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  min-height: 55px;
}
.popup ul img,
.popup li > div:first-child {
  height: 45px;
  width: 85px;
  border-radius: 5px;
}
.popup li > div:first-child {
  background-color: black;
  min-height: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup li > div:first-child span {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: -10px;
}
.popup li > div:first-child svg {
  margin-bottom: 4px;
}
.popup li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1060px) {
  .popup {
    right: 20vw;
    bottom: 120px;
  }
}
@media screen and (max-width: 1060px) {
  .popup {
    bottom: 120px;
  }
}
@media screen and (max-width: 410px) {
  .popup {
    min-height: 60vh;
    min-width: 93vw;
    left: 3.5vw;
    right: 3.5vw;
  }
  .popup > div > span:last-child {
    font-size: 1.6rem;
  }
}
